@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css"
          type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <style type="text/css">
        .el-table tr {
            background-color: #FFFFCC;
        }
    </style>
</head>

<script type="text/javascript">

    function submission() {
        document.forms[0].submit();
    }

    function page(currentPage) {
        document.getElementById("pid").value = currentPage;
        document.forms[0].submit();
    }
</script>

<body>
    <div id="app">
        <form action="../customiz/customizAction!findSecondKind" method="post">
            <table width="100%">
                <tr>
                    <td>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item><a href="/Main/main">首页</a></el-breadcrumb-item>
                            <el-breadcrumb-item>人力资源</el-breadcrumb-item>
                            <el-breadcrumb-item>客户化设置</el-breadcrumb-item>
                            <el-breadcrumb-item>人力资源档案管理设置</el-breadcrumb-item>
                            <el-breadcrumb-item>II级机构设置</el-breadcrumb-item>
                        </el-breadcrumb>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="添加" class="BUTTON_STYLE1"
                               onclick="window.location.href='/KeHu/TianEji'" />
                    </td>
                </tr>
            </table>
            <el-table :data="tableData"
                      border
                      style="width: 100%"
                      :header-cell-style="{color: '#C8D6F1', fontSize: '18px', height:'64px',  background: '#FFFFCC'}">
                <el-table-column prop="first_kind_name"
                                 label="I级机构名称"
                                 width="180">
                </el-table-column>
                <el-table-column prop="second_kind_id"
                                 label="II级机构编号"
                                 width="180">
                </el-table-column>
                <el-table-column prop="second_kind_name"
                                 label="II级机构名称"
                                 width="180">
                </el-table-column>
                <el-table-column prop="second_salary_id"
                                 label="薪酬发放责任人编号"
                                 width="180">
                </el-table-column>
                <el-table-column prop="second_sale_id"
                                 label="销售责任人编号"
                                 width="180">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   v-on:click="handleEdit(scope.row)">编辑</el-button>
                        <el-button size="mini"
                                   type="danger"
                                   v-on:click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br><br>
          
            <p>
        </form>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],//进行存储所有数据
                }
            },
            methods: {
                //进行显示所有信息
                fill() {
                    axios.get("/KeHu/ChaEji")
                        .then(res => {
                            console.log(res);
                            this.tableData = res.data;
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                //进行删除
                handleDelete(row) {
                    console.log(row.second_kind_id);
                    if (confirm("是否进行删除!")) {
                        axios.get("/KeHu/ScEr?id=" + row.second_kind_id)
                            .then(res => {
                                if (res.data == "1") {
                                    location.href = "ErScg";
                                }
                            })
                            .catch(err => {
                                console.log(err);
                            })

                    }
                }
                //进行修改
                , handleEdit(row) {
                    location.href = "/KeHu/ErXiu?id=" + row.second_kind_id;
                }
            },
            mounted: function () {
                this.fill();
            }
        });
    </script>
</body>
</html>