@{
    Layout = null;
}

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css"
          type="text/css"></link>

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>

<body>
    <div id="app">
        <form method="post" action="check_list.html">
            <table width="100%">
                <tr>
                    <td>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item><a href="/Main/main">首页</a></el-breadcrumb-item>
                            <el-breadcrumb-item>人力资源</el-breadcrumb-item>
                            <el-breadcrumb-item>调动管理</el-breadcrumb-item>
                            <el-breadcrumb-item>调动审核列表</el-breadcrumb-item>
                        </el-breadcrumb>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        当前待复核的调动人数:1
                        例
                    </td>
                </tr>
            </table>
            <el-table :data="tableData"
                      border
                      style="width: 100%">
                <el-table-column prop="first_kind_name"
                                 label="I级机构"
                                 width="180">
                </el-table-column>
                <el-table-column prop="second_kind_name"
                                 label="II级机构"
                                 width="180">
                </el-table-column>
                <el-table-column prop="third_kind_name"
                                 label="Ⅲ级机构"
                                 width="180">
                </el-table-column>
                <el-table-column prop="salary_standard_name"
                                 label="薪酬标准"
                                 width="180">
                </el-table-column>
                <el-table-column prop="human_name"
                                 label="名字"
                                 width="180">
                </el-table-column>
                <el-table-column label="审核">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   type="danger"
                                   v-on:click="handleDelete( scope.row)">审核</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </form>
        <div align="center" style="font-size: 18px;color: gray">
            &nbsp;&nbsp;总数：
            <font style="color: maroon;font-weight: bold;">{{zong}}</font>
            例
            &nbsp;&nbsp;&nbsp;
            每页显示 <font style="color: maroon;font-weight: bold;">{{pageSize}}</font>
            条
            &nbsp;&nbsp;&nbsp;
            当前第 <font style="color: maroon;font-weight: bold;">{{currentPage}}</font>
            页
            &nbsp;&nbsp;&nbsp;共
            <font style="color: maroon;font-weight: bold;">{{Totalpage}}</font>
            页
            <a style="color: navy;font-weight: bold" v-on:click="sy()">首页</a>

            <a style="color: navy;font-weight: bold" v-on:click="syy()">上一页</a>

            <a style="color: navy;font-weight: bold"
               v-on:click="xyy()">下一页</a>

            <a style="color: navy;font-weight: bold"
               v-on:click="moy()">末页</a>
            &nbsp;&nbsp;&nbsp;跳到第
            <input id=page type=text v-model="tiao" class=input1 size=1>
            页&nbsp;&nbsp;
            @*<input type="image" v-on:click="t()" src="../../images/go.bmp" width=18 height=18 border=0>*@
            <a style="color: navy;font-weight: bold"
               v-on:click="t()">GO</a>
            <input type="hidden" name="page.startPage" id="startpage" value="1">
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],//进行存储份分页数据
                    pageSize: 5,//，每页显示的条数
                    currentPage: 1,//当前页数
                    zong: 0,//总条数
                    Totalpage: 0,//总页数
                    tiao: 1,//跳转到哪一页
                }
            },
            methods: {
                //进行显示所有信息
                fill() {
                    axios.get("/Diao/Xs", {
                        params: {
                            pageSize: this.pageSize,
                            currentPage: this.currentPage
                        }
                    })
                        .then(res => {
                            this.tableData = res.data.CList;
                            console.log(this.tableData);
                            this.zong = res.data.Totalnumber;
                            this.Totalpage = res.data.Totalpage;
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                //上一页
                syy() {
                    if (this.currentPage - 1 == 0) {
                        this.$message({
                            message: '没有上一页',
                            type: 'success'
                        });
                        return
                    }
                    this.currentPage -= 1;
                    this.fill();
                },
                //首页
                sy() {
                    this.currentPage = 1;
                    this.fill();
                    this.$message({
                        message: '已跳转到首页',
                        type: 'success'
                    });
                },
                //下一页
                xyy() {
                    if (this.currentPage + 1 > this.Totalpage) {
                        this.$message({
                            message: '没有下一页',
                            type: 'success'
                        });
                        return
                    }
                    this.currentPage += this.currentPage;
                    this.fill();
                },
                //末页
                moy() {
                    this.currentPage = this.Totalpage;
                    this.fill();
                    this.$message({
                        message: '已跳转到末页',
                        type: 'success'
                    });
                },
                //跳转到哪一页
                t() {
                    if (this.tiao < 1 || this.tiao > this.Totalpage) {
                        this.$message({
                            message: '当前页数不存在',
                            type: 'error'
                        });
                        return;
                    }
                    this.currentPage = this.tiao;
                    this.fill();
                },
                handleDelete(row) {
                    console.log(row)
                    location.href = "/Diao/F?id=" + row.human_id
                }
            },
            mounted: function () {
                this.fill();
            }

        })
    </script>
</body>
</html>